html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  color: var(--bs-nav-link-color) !important;
}

.carousel {
  margin-bottom: 100px;
}

.carousel-control-prev {
  justify-content: normal;
  width: auto;
  margin-left: 1%;
}

.carousel-control-next {
  justify-content: end;
  width: auto;
  margin-right: 1%;
}

.carousel-indicators {
  bottom: -50px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
